
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #1A0B2E;
  max-width: 1600px;
  margin: auto;
}
.display-flex{display:flex}
.bg-color{background:#412567}
.text-color{color:#fff}
header{
    padding-bottom:60px
}
.navbar{
max-width:1600px;
margin:auto;
padding:10px;
display: flex;
justify-content:space-between;
align-items:center;
}
.brand{
    color:#fff;
    font-size:1.5rem;
    font-weight:700
}
.nav-links{
    gap:32px
}
.nav-item{
    list-style:none;    
    color:#fff;
    text-decoration:none;
    font-weight:500;
}
.nav-texts{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.hamburger{
    padding: 15px;
    display: none;
}

/* banner */
.btn-banner{
background: linear-gradient(45deg, rgb(202, 202, 69), rgb(218, 53, 149), rgb(56, 56, 185));
color:#fff;
padding:12px 32px;
border:none;
border-radius:9999px;
font-weight:600;
cursor:pointer;
}
.banner{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.top-img{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;    
    width: 350px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center; 
}
.new{
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(45, 214, 45);
    position: absolute;
    top: 1%;
    left: 70%;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.ban-title{
font-size: 60px;
font-weight: 800;
color: white;
margin: 0 0 10px 0;
}
.banner-content p{
font-size: 16px;
font-weight: 400;
color: rgba(255, 255, 255, 0.705);
}
.banner-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.ban-btn1{
    
    display: flex;justify-content: center;align-items: center;gap: 5px;
     padding: 10px 15px 10px 15px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(45deg,rgb(202, 202, 69),rgb(218, 53, 149),rgb(56, 56, 185));
}
.ban-btn2{
    display: flex;justify-content: center;align-items: center;gap: 5px;
     padding: 10px 15px 10px 15px;
    border-radius: 15px;
background-color: black;
color: rgba(49, 207, 49, 0.774);
border: 1px solid rgba(49, 207, 49, 0.774);}
/* main section */

/* Podcast related styles */
.podcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.podcast-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    text-align: center;
    width: 70%;
}
.pod-title{
    font-size: 3rem;
    color: white;
    margin: 0;
}
.pod-desc{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.733);
}
.podcast-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}
.card-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.podcast-number{
    font-size: 40px;
    color: rgba(49, 207, 49, 0.774);
}
.pod-tit{
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.733);
}
.pod-hr{
    width: 100%; 
    height: 1px;
    background-color: rgba(167, 153, 153, 0.603);
}


/* box related styles */
.techwave-container{
    margin-top: 100px;
    background-color: #230E3D;
    padding: 20px 170px 20px 170px;
}
.techwave-container h3{
    font-size: 3rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

}
.box-container{
    gap: 30px;
}

.box{
    font-weight: 600px;
    color: #ffffff;
}
.box-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,240px);
}
#sidebar{
    grid-row: span 2;
    background-color: #351165;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 30px 0 30px;
    gap:10px;
}
#sidebar2{
    grid-column: span 2;
    gap: 30px;
    background-color: #351165;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 30px 0 30px;
    gap:10px;
}

#sidebar3{
    grid-row: span 1;
    background-color: #351165;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 30px 0 30px;
    gap:10px;
}
.side-desc{
    margin: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.63);
}
.side-title{
    margin: 0;
    font-size: 24px;
    color: white;
}


/* Featured Episodes */
.feature-container{
    background-color: #1A0B2E;
}
.feature-title {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    padding: 80px 0 25px 0;
    margin: 0;
}
.feature-content{
    background-color: #250D44;
    border-radius: 20px;

}
.feature-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.ifr{
    border-radius: 20px;
}
.ifr-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:20px;
    padding: 25px 15px 25px 15px;
}
.ifr-title{
    font-size: 24px;
    color: white;
    margin: 0;

}
.ifr-texts{
    margin-top:10px;
    font-size: 16px;
    margin: 0;
    color: rgba(255, 255, 255, 0.616);
}
.ifr-time{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 7px;
    color: rgba(49, 207, 49, 0.774);
}
.host-title{
    margin: 120px 0 40px 0;
    font-size: 40px;
    color: white;
    text-align: center;
}
.alex{
    background-color: #351165;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px 20px 80px;
    gap: 60px;
    border-radius: 15px;
}
.head-title{
    font-size: 25px;
    color: white;
}
.head-desc{
    font-size: 16px;
     color: rgba(255, 255, 255, 0.623);
}
.image{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.image-round{
    border: 1px solid rgba(255, 255, 255, 0.589);
    padding: 6px;
    border-radius: 50%;
}

/* footer related styles */
.footer{
    margin-top: 100px;
    height: 400px;
    background-image: url(.//assets/footer-bg.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
}
.foot-title{
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
.footer-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.foot-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px; 
    color: white;
}

.footer-copyright{
    color: rgba(255, 255, 255, 0.555);
}
.wave-color{
    background: linear-gradient(
        45deg,
        rgb(202, 202, 69),
        rgb(218, 53, 149),
        rgb(56, 56, 185)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for future support */
}



/* responsive part */
/* for mobile part */
@media screen and (max-width:576px) {
   .brand{
    font-size: 1.5rem;
   }
   .sm-display{
    display: none;
   }
   .hamburger{
    display: block;
   }
   /* banner */
   .banner{
    background-size: contain;
    width: 100%;
    height: 460px;
   }
   .ban-title{
    font-size: 35px;
   }
   .banner-texts{
    padding: 0 10px 0 10px;
   }
   .top-img{
    background-size: contain;
    width: 220px;
    margin-top: 90px;
   }
   .top-mic{
    width: 40px;
   }

   /* podcast section */
   .pod-title{
    font-size: 25px;
   }
   .podcast-content{
    text-align: center;
    width: 90%;
   }
   .podcast-number{
    font-size: 30px;
    margin: 0 0 10px 0;
   }
   .card-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
   .podcast-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   }
   .pod-hr{
    width: 90%;
    margin-bottom: 15px;
   }
   
   /* choose techwave */
   .techwave-container{
    padding: 10px;
   }
   .techwave-container h3{
    font-size: 2rem;
    margin: 100px 0 20px 0;
   }
   .box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }
   #sidebar{
    padding: 30px 15px 30px 15px;
   }
   #sidebar2{
    padding: 30px 15px 30px 15px;
   }
   #sidebar3{
    padding: 30px 15px 30px 15px;
   }
   #sidebar4{
    padding: 30px 15px 30px 15px;
   }

   /* featured episodes */
   .feature-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
   }
   .feature-title{
    font-size: 30px;
   }
   .ifr{
    width: 100%;
   }
   .alex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding: 10px 20px 10px 20px;
   }
   .host-title{
    font-size: 30px;
    margin-top: 60px;
   }
   .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
   }
   .image{
     display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
   }

   /* footer */
   .footer-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
   .footer-copyright{
    font-size: 14px;
    margin-top: 8px;
   }
   .foot-title{
    font-size: 20px;
   }
}