
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #1A0B2E;
  max-width: 1600px;
  margin: auto;
}
.display-flex{display:flex}
.bg-color{background:#412567}
.text-color{color:#fff}
header{
    padding-bottom:60px
}
.navbar{
max-width:1600px;
margin:auto;
padding:10px;
display: flex;
justify-content:space-between;
align-items:center;
}
.brand{
    color:#fff;
    font-size:1.5rem;
    font-weight:700
}
.nav-links{
    gap:32px
}
.nav-item{
    list-style:none;    
    color:#fff;
    text-decoration:none;
    font-weight:500;
}
.nav-texts{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.hamburger{
    padding: 15px;
    display: none;
}

/* banner */
.btn-banner{
background: linear-gradient(45deg, rgb(202, 202, 69), rgb(218, 53, 149), rgb(56, 56, 185));
color:#fff;
padding:12px 32px;
border:none;
border-radius:9999px;
font-weight:600;
cursor:pointer;
}
.banner{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.top-img{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;    
    width: 350px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center; 
}
.new{
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(45, 214, 45);
    position: absolute;
    top: 1%;
    left: 70%;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.ban-title{
font-size: 60px;
font-weight: 800;
color: white;
margin: 0 0 10px 0;
}
.banner-content p{
font-size: 16px;
font-weight: 400;
color: rgba(255, 255, 255, 0.705);
}
.banner-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.ban-btn1{
    
    display: flex;justify-content: center;align-items: center;gap: 5px;
     padding: 10px 15px 10px 15px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(45deg,rgb(202, 202, 69),rgb(218, 53, 149),rgb(56, 56, 185));
}
.ban-btn2{
    display: flex;justify-content: center;align-items: center;gap: 5px;
     padding: 10px 15px 10px 15px;
    border-radius: 15px;
background-color: black;
color: rgba(49, 207, 49, 0.774);
border: 1px solid rgba(49, 207, 49, 0.774);}
/* main section */

/* Podcast related styles */
.podcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.podcast-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    text-align: center;
    width: 70%;
}
.pod-title{
    font-size: 3rem;
    color: white;
    margin: 0;
}
.pod-desc{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.733);
}
.podcast-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}
.card-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.podcast-number{
    font-size: 40px;
    color: rgba(49, 207, 49, 0.774);
}
.pod-tit{
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.733);
}
.pod-hr{
    width: 100%; 
    height: 1px;
    background-color: rgba(167, 153, 153, 0.603);
}