
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}

.text-color{
    color: #ffffff;
}
.bg-color{
    background-color: #412567;
}
/* header styles */


/* navbar related styles */
.brand{
    color: #ffffff;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
}
.nav-links{
    width: 218px;
    height: 19px;
    gap: 32px;
    color: #ffffff;
    font-size: 16;
    font-weight: 500;
}

.btn-banner{
    background-color: #FB09B4;
    color: #ffffff;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 16px;
    padding-right: 40px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 101px 525px;
    background-image: url(assets/hero-bg.png);
}
/* .banner-image2{
    padding-top: -100px;
} */

.banner-title h2{
    font-weight: 800;
    font-size: 3.75rem;
    color: #ffffff;
}
.banner-title p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400px;
    padding-top: -100px;
}
.btn-banner1{
    background-color: #F7E93F;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
}
